{% extends 'base.html' %}

{% block title %}Home | SkillMeld{% endblock %}

{% block css %}
    <!-- Custom CSS for the About page -->
    <style>
        .mainpadd{
            margin: 2rem;
            padding: 2rem;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Content for the About page -->
    <div class="jumbotron mainpadd">
        <h1 class="display-4">About SkillMeld</h1>
        <p class="lead">SkillMeld is a platform designed to help users assess their professional skills and background, and provide tailored suggestions for skill enhancement, career progression, and job prospects.</p>
        <hr class="my-4">
        <p>Our mission is to guide users towards optimal career paths and opportunities based on their individual strengths, interests, and the current state of the job market.</p>
        <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
    </div>
{% endblock %}

{% block js %}
    <!-- Custom JS for the About page -->
    <script>
        // Add your custom JavaScript code here
    </script>
{% endblock %}
